{{#if authed}}
	<p class="user authed" title="Logged in as {{ user.name }}">{{ user.name }}</p>
{{else}}
	<p class="user">Login</p>
{{/if}}

<div id="userBox">
	<button data-color="red" data-action="logout">Logout</button>
</div>
