    <div class="toolset">
      <div id="toolbar-toggle"></div>
      <div class="set">
        <div class="item">
          <div class="shortcut"></div>
          <!-- window goes here -->
        </div>
      </div>
      <div class="set">
        <div class="item">
        </div>
      </div>     
    </div>
