<div class="item">
<div class="shortcut"></div>
</div>
<div class="controlPane">
  <div class="bar">
    <div class="tabs">
    </div>
    
    <div class="context"></div>
  </div>
  
  <div class="content" id="{{id}}_widget">
  </div>
  <div class="clear"></div>
</div>