<div id="throbberBody">
  <p class="title large" style="display: none;"></p>
  <p id="throbberGraphic" style="text-align: center; margin-top: 5px;"><img src="/img/seer/loading.gif"></p>
  <p class="message"></p>
  <input type="text" class="key" style="display: none;">
  <input type="text" class="value" style="display: none;">
  <div class="gutter">
    <button class="ok-button" style="display: none;"></button>
    <button class="cancel-button" style="display: none;"></button>
  </div>
</div>
