      <div class="widget mini">
        <div class="header">
          <h2>{{ title }}</h2>
          <div class="toggle">&raquo;</div>

          <div class="buttons">
          {{#if canEdit }}
            <div class="button config"></div>
          {{/if}}
          {{#if canDelete }}
            <div class="button close"/>
          {{/if}}      
          {{#if canResize }}      
            <div class="button upsize"></div>
            <div class="button downsize"></div>
          {{/if}}
          </div>
        </div>

        <div class="content-frame">
          <div id="{{id}}" class="content"></div>
        </div>
      </div>