      <div class="widget"{{#if height}} style="height:{{height}}px;"{{/if}}>
        <div class="header">
          <h2>{{title}}</h2>
          <div class="button config"/>
          <div class="button close"/>
        </div>
        <div id="{{id}}"></div>
      </div>
