      <div class="widget"{{#if height}} style="height:{{height}}px;"{{/if}}>
        <div class="header">
          <h2>{{title}}</h2>
          {{#if canEdit }}
          <div class="button config"/>
          {{/if}}
          {{#if canDelete }}
          <div class="button close"/>
          {{/if}}
          {{#if canResize }}
          <div class="button upsize"/>
          <div class="button downsize"/>
          {{/if}}
        </div>
        <div id="{{id}}"></div>
      </div>
