<div class="graphBuilderControls">
this div will have te controls
it will be float left and take up a fixed 300(ish)px
</div>
<div class="graphBuilderPreview">
this div will have the graph preview
it will be float right, and take up the rest of the screen
</div>
When toggling between builder mode and view mode:
the controls will slide in/out from the left
the preview will slide in/out from the right


<div class="dashboard">
the rest of the content (grid system) will go here
</div>
