<div class="page">
  <div class="title">Part Info</div>
  <div data-subview="views/widgets/form" data-options="{{ opt }}"/>
  <div class="buttons">
    <button class="gray">Cancel</button>
    <button>Save</button>
  </div>
</div>