<div id="mainSpacer">
<!--
  <div id="config">
    <div id="icon-menu">
      <div class="icon-item">
      </div>
    </div>
    <div id="second-tier-menu">
      <div class="second-tier-group">
        <div class="second-tier-item">
          <div id="second-tier-header">
            <span class="title">Control Panel</span>
            <img id="minimize-control-panel" src="img/arrows-minimize.png" />
          </div>
        </div>
        <div id="filter_form"></div>
      </div>
      <div class="second-tier-group">
        <div class="second-tier-item">
          <div id="second-tier-header">
            <span class="title">Dashboards</span>
          </div>
        </div>      
        <div id="dbcontrol">
          <a href="#" id="addGraph">Add Graph</a>
        </div>
      </div>
    </div>
  </div>
-->
  <div id="stage">
      <div class="tabPage">
        <ul class="tabAnchors" style="height:33px;"></ul>
      </div>
  </div>
</div>
