<div class="table">
  <div class="thead">
    <div class="tr">
      {{#each cols}}
        <div class="th {{#if this.sortable}}sortable{{/if}}" data-key="{{this.key}}">
          {{this.title}}
        </div>
      {{/each}}
    </div>
  </div>
  <div class="tcontent">
    <div class="tbody">
      <div class="container">
        {{#each rows}}
          {{{this}}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
