<div class="bar">
	<div class="tab">
		<p class="title">DASHBOARD</p>
	</div>
	<div class="tab">
		<p class="title">DATA</p>
	</div>
	<div class="tab">
		<p class="title">CHARTS</p>
	</div>
	<div class="tab">
		<p class="title">REPORTS</p>
	</div>
</div>

<div class="content">

</div>