<div class="textfield large">
  <span class="text">{{text}}</span>
  <span class="buttons">
    <span class="button submit" {{#if submit_id}}id="{{submit_id}}"{{/if}}></span>
    <span class="button edit"></span>
  </span>
</div>
