<div class="addFilter">+ Filter</div>
<div class="menu">
	<div data-id="form0" data-subview="views/widgets/form" data-options="{{ formoptions }}"></div>
	<div data-action="apply"><span>Apply</span></div>
</div>