<div class='fillImageCont'>
	<img class="fillImage" src="{{url}}">
	<img class="fillImage" src="{{url}}">
</div>
        <style>
            /* tell the SVG path to be a thin blue line without any area fill */
            path {
                stroke: black;
                stroke-width: 1;
                fill: none;
            }
        </style>
<div class="graph" style="padding: 9px;position:absolute;bottom:0px;left:0; width:100%; height:45px;">
<div style="background: rgba(255,255,255,0.7);"><svg></svg></div>
</div>
