<img src="{{url}}">
<table class="editableMeta">
    {{#each metadata}}
  <tr>
    <td class="item-detail"><span>{{this.key}}</span>:</td>
    <td class="item-detail-value clickEdit"><input type="text" value="{{this.val}}"></td>
  </tr>
    {{/each}}
</table>
