<div class="frame">
  <div class="image">
    <img src="{{image_path}}" />
  </div>
  <div class="overlay">
    <div class="toggle" data-value="markup"></div>
    <div class="toggle" data-value="fullscreen"></div>
    <div class="zoom">
      <div class="thumbnail">
        <img src="{{thumbnail_path}}">
      </div>
      <div class="controls">
        <input type="text" value="100%" />
        <input type="range" name="points" min="1" max="10">
      </div>
    </div>
  </div>
</div>