<div class="frame">
  <div class="image">
    <div class="markup"></div>
    <img src="{{imgfile}}" />
  </div>
  <div class="overlay">
    <div class="toggles">
      <div class="toggle" data-value="fullscreen" alt="Fullscreen" title="Enter Fullscreen"><div class="exit">Exit Fullscreen [Esc]</div></div>
      <div class="toggle" data-value="markup" data-state="on" alt="Markup" title="Turn Markup On"></div>
    </div>
    <div class="zoom">
      <div class="thumbnail">
        <div class="frame">
          <div class="region"></div>
          <img src="{{thumbnail_file}}" draggable="false" style="-moz-user-select: none;">
        </div>
      </div>
      <div class="controls">
        <input type="text" value="100%" />
        <input type="range" name="points" step="10" min="100" max="500">
      </div>
    </div>
  </div>
</div>