<div class="wrapper">
  {{#each fields}}
    <div class="item">
      <div class="key">
        {{this.key}}
      </div>
      <div class="value">
        {{this.value}}
      </div>
    </div>
  {{/each}}
  <div class="edit">
  </div>
  <div class="notes">
    + Notes
  </div>
</div>



