<div class="wrapper">
  {{#each fields}}
    <div class="item">
      <div class="key">
        {{this.key}}
      </div>
      <div class="value">
        {{this.value}}
      </div>
    </div>
  {{/each}}
  <div class="edit">
  </div>
  <div class="notes {{#if notes}}full{{/if}}{{#unless notes}}empty{{/unless}}">
    <span class="sac">Save & Close</span>
    <span class="title">Notes</span>
    <span class="add">+ Notes</span>
    <img src="/img/seer/Items_Notes_Bubble.svg" alt="Notes">
  </div>
  <div class="notes-editor">
    <textarea>{{ notes }}</textarea>
  </div>
</div>



