<div class="yaml">
  <div class="actions">
    <select id="new" name="new" data-placeholder="Add New Object" style="width:350px !important;" tabindex="1">
      <option value=""></option>
      <option value="Dashboard">Dashboard</option>
      <option value="TabContainer">TabContainer</option>
      <option value="OLAP">OLAP</option>
    </select>
  </div>
  <div class="content">
    {{{html}}}
  </div>
</div>