<div data-id="filterbar" data-subview="views/widgets/filterbar"></div>
<div class="container">
  <div class="resizable" data-id="sidebar" data-subview="views/widgets/sidebar"></div>
  <div class="content-wrapper reciprocate">
    <div class="spacer top"></div>
    <div data-id="metadata" data-subview="views/widgets/metadata"></div>
    <div data-id="image" data-subview="views/widgets/image"></div>
    <div data-id="bottombar" data-subview="views/widgets/bottombar" class="spacer bottom"></div>
  </div>
</div>
