<div class="container">
  <div class="content-wrapper">
    <div data-id="metadata" data-subview="views/widgets/metadata"></div>
    <div data-id="image" data-subview="views/widgets/image"></div>
  </div>
  <div data-id="turking" data-subview="views/widgets/turking"></div>
  <div data-id="progressbar" data-subview="views/widgets/progressbar"></div>
</div>