[data-widget=FilterBar] {
  width: 100%;
  height: 36px;
  line-height: 35px;
  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  
  background: #fff url("/img/seer/filterbar.png") repeat-x;
  border-bottom: 1px solid #646464;
  color: #444;

  div.viewSwitch {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;  
    margin-right: 20px; 
    margin-top: 6px;
    font-size: 0;
    height: 29px;

    img {
      display: inline-block;
      margin: 0;
      padding: 0;
      cursor: pointer;
    }
  }

  div.filter { 
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;

    p.title {
      color: #333;
      font-size: 10pt;
      font-family: "Open Sans", sans-serif;
      cursor: pointer;
    }
  }

  div.addFilter {
    position: relative;
    z-index: 110;
    display: inline-block;
    height: 27px;
    line-height: 27px;
    padding: 0 7px;
    cursor: pointer;
    background: transparent;
    
    /* The transparent border prevents the 
     * block from jumping when dynamically
     * adding the border. */
    border: 1px solid transparent;

    color: #0074B3;

    &.active {
      background: #DFDFDF;
      border: 1px solid #636363;
      border-bottom: none;
    }
  }

  div.menu {
    display: none;
    position: absolute;
    top: 30px;
    z-index: 100;
    min-width: 200px;

    background: #DFDFDF;
    border: 1px solid #636363;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

    [data-widget=Form] {
      padding: 15px;      
      padding-bottom: 0px;
    }

    .actions {
      line-height: 35px;
      text-align: right;
      font-size: 11px;
      color: #0074B3;

      span {
        cursor: pointer;
        padding: 0 15px;
        display: inline-block;
        height: 100%;
      } 

      span + span { padding-left: 0; }
    }
 
  }  
}