[data-widget=Filter] { 
  display: inline-block;
  position: relative;
  top: 3px;
  z-index: 120;
  height: 27px;
  line-height: 27px;
  padding: 0 7px;
  background: transparent;
  margin-left: 3px;
  
  /* The transparent border prevents the 
   * block from jumping when dynamically
   * adding the border. */
  border: 1px solid transparent;


  p.title {
    color: #333;
    font-size: 10pt;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
  }


  &[data-type=select],
  &[data-type=multiselect] {
    p.title {cursor: pointer;}
  }

  p.title + input {
    margin-left: 5px;
    position: relative;
    top: 1px;    
  }

  input {
    width: 126px;
    padding-right: 20px !important;
  }

  img[data-action=edit] {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    top: -1px;
    cursor: pointer;
  }

  img[data-action=clear] {
    position: absolute;
    right: 11px;
    top: 6px;
    cursor: pointer;
    display: none;
  }

  &.active {
    background: #DFDFDF;
    border: 1px solid #636363;
    border-bottom: none;
  }    

  &.add {
    color: #0074B3;
  }
}