[data-widget=Image] {
  background: #FFF;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: absolute;
  top: 60px;
  bottom: 65px;

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 300;
  }

  .frame {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    .image {
      z-index: 99;
      display: block;
      background-color: #000;
      background-image: url("/img/seer/Background_Dark.png");
      width: 100%;
      height: 100%;
      overflow:hidden;

      img {
        opacity: 0;
      }

      .markup {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 101;

        .feature {
          position: absolute;
          top: 0;
          left: 0;
          width: 100px;
          height: 100px;
          background-color: rgba(255,255,0,.1);
            border: 2px solid rgba(255,255,0,.5);

          &[data-status=unconfirmed] {
            background-color: rgba(255,255,0,.1);
            border: 2px solid rgba(255,255,0,.5);
          }

          &[data-status=confirmed] {
            background-color: rgba(0,255,0,.1);
            border: 2px solid rgba(0,255,0,.5);
          }

          .text {
            position: absolute;
            bottom: -26px;
            right: -2px;
            box-sizing: border-box;
            font-weight: bold;
            color: #FFF;
            padding: 5px 10px 1px;
            background-color: #121212;
          }
        }
      }
    }

    .toggles {
      position: absolute;
      z-index: 102;
      top: 15px;
      right: 15px;

      .toggle {
        width: auto;
        height: 20px;
        float:right;
        cursor: pointer;
        background-color: #5a5a5a;
        color: #FFF;
        font-size: 12px;
        line-height: 23px;
        background-repeat: no-repeat;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;

        &[data-value=markup] {
          width: 30px;
          margin-right: 10px;
          background-image: url("/img/seer/Items_Markings_Off_Markings_Off.svg");

          &[data-state=on] {
            background-image: url("/img/seer/Items_Markings_On_Markings_On.svg");
          }
        }

        &[data-value=fullscreen] {
          min-width: 20px;
          background-image: url("/img/seer/Items_Fullscreen_Fullscreen.svg");

          &[data-state=on] {
            background-image: url("/img/seer/Items_Fullscreen_Exit.svg");
          }
          
          div {
            font-size: 13px;
            padding: 0px 5px 0px 23px;
            display: none;
          }
        }

        &:hover {
          background-color: #444;
        }
      }
    }

    .zoom {
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 110px;
      height: 125px;
      background: #AAA;
      z-index: 101;

      .thumbnail {
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        height: auto;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }

        .region {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 2px solid #005A82;
          background: rgba(0, 90, 130, 0.5);
          z-index: 110;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
        }
      }

      input[type="text"] {
        position: absolute;
        bottom: 5px;
        left: 5px;
        width: 35px;
      }

      input[type="range"] {
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 55px;
      }
    }
  }
}