[data-widget*=MenuItem] {
  padding: 0px 10px;
  height: 39px;
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  background: #5a5a5a;
  border-left: 1px solid #000;
  vertical-align: top;
  
  &:hover { background:  #444; }
  &:active { background: #111; }

  img.icon, p.title { display: inline-block; }
  
  img.icon {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
  }

  p.title {
    color: #CCCCCC;
    font-size: 10pt;
    letter-spacing: 0.075em; 
    margin-left: 9px;
  }
}