[data-widget=MetaData] {
  width: 100%;
  height: 46px;
  color: #fff;
  font-size: 13px;
  line-height: 46px;
  position: absolute;
  z-index: 200;
  
  background: #555555;
  border-bottom: 1px solid #2B2D2E;
  font-size: 13pt;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  

  div.wrapper {
    position: absolute;
    z-index: 90;
    left: 0;
    right: 0;
    display: inline-block;
    height: 100%;

    div.value, div.key {
      text-shadow: 0px 1px 0px #3D3D3D;
    }

    div.item {
      float: left;
      margin: 7px 0px 5px 10px;
      padding-right: 10px;
      border-right: 1px solid #414141;
    }

    div.key {
      color: #ccc;
      font-size: 8pt;
      line-height: 8pt;
      text-transform: uppercase;
      margin-top: 4px;
    }

    div.value {
      color: #fff;
      font-size: 10pt;
      line-height: 10pt;
      font-weight: 600;
      margin-top: 3px;
      margin-bottom: 4px
    }

    div.edit {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: url("/img/seer/Items_Edit_Dark.svg");
      cursor: pointer;
      background-repeat: no-repeat;
      margin: 14px 0px 10px 10px;

      &:hover {
        background-image: url("/img/seer/Items_Edit_Dark_Hover.svg");
      }
    }

    div.notes {
      color: #006AA7;
      background: #ccc;
      padding: 0px 10px;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;

      &:hover {
        background: #bbb;
        color: #006AA7;
      }

      img {
        position: relative;
        top: 17px;
        left: 1px;          
        display: none;
        cursor: pointer;
      }

      span.add {
        font-size: 13px;
        cursor: pointer;
        color: #0074B3;
      }

      span.title {
        display: none;
        color: #808080;
        font-size: 13px;
      }

      span.sac {
        display: none;
        color: #0074B3;
        font-size: 13px;
        float: right;   
        cursor: pointer;   
      }

      &.full {
        background: #FFFF90;
        span.add { display: none; }
        span.title { display: none; }
        span.sac { display: none; }
        img { display: block; }
      }

      &.expanded {
        width: 330px;
        border-bottom: 1px solid #808080;
        background: #FFFF90;
        span.add { display: none; }
        span.title { display: block; }
        span.sac { display: block; }
        img { display: none; }
      }
    }

    div.notes-editor {
      display: none;
      top: 47px;
      position: relative;
      width: 350px;
      height: 200px;
      background: #FFD;
      float: right;

      textarea {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        padding: 10px;
        margin: 0;    
        outline: none;
        font-size: 13px;
        font-family: "Open Sans";
        resize: none;    
      }
    }
  }

}