[data-widget=Modal] {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: none;

  .page {
    background: #FFF;
    width: 500px;
    height: 250px;
    margin: auto;
    margin-top: 190px;    
  }
}