[data-widget=SideBar] {
  min-width: 75px;
  max-width: 500px;
  width: 200px;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  display: block;
  border-right: 1px solid #333;
  background: #CCC;

  .header {
    position: absolute;
    left: 0;
    right: 0;
    padding: 3px 20px 3px 10px;
    border-bottom: 1px solid #808080;
    background: #ACACAC;
    color: #404040;
    font-weight: 400;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 20;
    cursor: pointer;

    .title {
      font-family: "OpenSansBold";
    }

    .action {
      width: 15px;
      height: 8px;
      position: absolute;
      top: 8px;
      right: 6px;
      background: transparent url("/img/seer/Items_Panel_Open.svg") no-repeat;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  &[data-state=closed] {
    min-width: 25px;
    width: 25px !important;
    background: #acacac;

    .header {
      height: 100%;
      border-bottom-color: transparent;

      .title {
        opacity: 0;
      }
      .action {
        height: 100%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        right: 3px;
      }
    }

    div {
      &.content {
        display: none;
        overflow: hidden;
      }
    }
  }

  div {
    &.content {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 10;
      overflow-y: scroll;
      margin-top: 25px;
      background: #CCC;

      .item {
        float: left;
        width: 100%;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid #AAA;

        &:last-child { border-bottom: none; }

        .status {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 15px;
          background: #7c7c7c;

          .note-box {
            top: 10px;
            width: 8px;
            height: 8px;
            background: #FFFF90;
            left: 3px;
            position: relative;            
          }

          &.Fail {
            background: #CF665B;
          }
        }

        .metadata {
          padding: 5px 10px 5px 20px;
          color: #404040;
          background: #CCC;
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover {
            background: #BBB;
          }
        }
      
        &.active {
          .status {
            &.Pass {
              background: #78B33F;
            }
            &.Fail {
              background: #C54739;
            }
          }
          .metadata {
            color: #FFF;
            background: #555;
          }
        }
      }
    }
  }
}