table.table {
  width: 100%;

  th, td {
    padding: 4px;
  }

  thead {
    th {
      color: #000000;
      background: #FFFFFF;
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;

      .dir {
        float: right;
        width: 15px;
        height: 15px;
        background: url("/img/empty-arrow.png") 50% 50% no-repeat;
      }

      .dir.desc {
        background: url("/img/down-arrow.png") 50% 50% no-repeat;
      }

      .dir.asc {
        background: url("/img/up-arrow.png") 50% 50% no-repeat;
      }

    }

    .ph {
      position: fixed;
      top: 30px;
      visibility: hidden;
      margin-left: -1px;
    }
  }

  tbody {
    td {
      input[type="text"] {
        width: 100%;
      }

      .subCol {
        float: left;
        width: auto;
        height: 16px;

        label {
          margin-right: 5px;
          font-weight: bold;
        }

        input[type="text"] {
          width: auto;
          margin-right: 10px;
        }

      }

    }
  }
}

table.table-striped {
  tbody > tr:nth-child(odd) > td, 
  tbody > tr:nth-child(odd) > th {
    background-color: #F9F9F9;
  }
}

table.table-bordered {
  border: 1px solid #333333;

  thead {
    border: 1px solid #CCCCCC;

    th {
      border: 1px solid #CCCCCC;
    }

    th span {
      cursor: pointer;
    }
  }

  tbody {
    td {
      border: 1px solid #CCCCCC;
    }
  }
}