[data-widget=Tabs] {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 48px;

  background: #E7E7E7;
  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  

  div.bar {
    height: 26px;
    line-height: 27px;
    background: #222;
    border-bottom: 1px solid #222;

    /* Fixes inline-block spacing */
    font-size: 0px;

    position: relative;
    z-index: 120;

    div.tab {
      display: inline-block;
      vertical-align: top;
      background: #5a5a5a;
      padding: 1px 10px 0 10px;
      cursor: pointer;
      height: 25px;
      border-right: 1px solid #333;
      font-family: "IntervalBold";

      &.active {
        height: 26px;
        background: #e7e7e7;
        cursor: default;
        box-shadow: 0 2px 0 #e7e7e7;
        position: relative;
        z-index: 1;

        p.title { color: #333; }
      }

      &:first-child { padding-left: 10px; margin-left: 6px; }
      &:last-child { border-right: none; }

      &:not(.active) {
        &:hover {
          background: #444;
        }
      }

      p.title {
        color: #ccc;
        font-size: 10pt;
        text-transform: uppercase;
      }
    }

    div.tab.active + div.tab {
      border-left-color: transparent !important;
    }
  }

  & > div.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 75px;

    div.area { 
      width: 100%;
      height: 100%;
      display: none;

      &.active { display: block; }
    } 
  }
}