.textfield {
  height: 100%;
  position: relative;

  .text {
    font-size: 12px;
    line-height: 16px;
  }

  &.large {

    .text {
      font-size: 36px;
      line-height: inherit;
      float: left;
      width: 100%;
      padding: 16px 7px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 43px;

      &.no-padding {
        padding: 0px;
        padding-right: 35px;
      }

      input {
        font-size: 36px;
        background-color: #FFFF66;
        border: 4px solid #FFD600;
        width: 100%;
        padding: 0px;
        padding-left: 3px;
      }
    }

  }

  &.editable {

  }

  .buttons {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 100%;

    .button {
      width: 35px;
      height: 100%;
      position: relative;
      float: right;
      cursor: pointer;
      background-color: #CCCCCC;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border-left: 1px solid #999;
      box-shadow: inset 0 1px 0 0 #E7E7E7;

      &:hover {
        background-color: #DDDDDD;
      }
      &:active {
        background-color: #AAAAAA;
      }

      &.edit {
        background-image: url('/img/pencil_icon&16.png');
      }

      &.submit {
        display: none;
        background-image: url('/img/checkmark_icon&16.png');
      }
    }
  }
}
