[data-widget=Toolbar] {
	width: 100%;
	height: 36px;
	line-height: 36px;
	z-index: 100;
	position: absolute;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	background: #333; //#333333;
	border-bottom: 1px solid #000; //#000;
	
	font-size: 13pt;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	


	div.left { float: left; }
	div.right { float: right; }
	div.left, div.right { height: 38px; }

	img.logo {
		display: inline-block;
		vertical-align: top;
		margin: 3px 0 0 6px;
		height: 30px;
	}	
	
	p.client {
		display: inline-block;
		vertical-align: top;
		color: #ccc;
		font-family: 'Open Sans', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		margin-left: 10px;
		border-left: 1px solid #0A1625; //#000;
		padding-left: 10px;
	}
}