<!doctype html>
  <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript">(function(){function x(x){document.write("<li"+'nk rel="stylesheet" href="'+x+'?v='+a+'">')}function b(b){document.write("<scr"+'ipt type="text/javascript" src="'+b+"?v="+a+'"></scr'+"ipt>")}var a=(new Date).valueOf();x("/stylesheets/app.css");b("javascripts/vendor.js");b("javascripts/app.js");b("/plugins.js")})()</script>
    <style>
    {% block style %}
    {% endblock %}
    </style>
    <script type="text/javascript">require('initialize');</script>
    <title>{% block title %}Sight Machine{% endblock %}</title>
  </head>
    
  <body> 
    {% block header %}
  <header>
      <nav>
        <div class="left group">
          <a class="brand" href="#"></a>
          <div class="text"><div id="client-name"></div></div>
        </div>
  
        <!--<div class="right group">
          <div id="login">
            <div class="username">Demo User</div>
            <div class="tag blue">Integrator</div>
          </div>
          <div id="login-menu">&nbsp;</div>
        </div>-->
      </nav>
  </header>
    {% endblock %}

    {% block content %}
      <section id="main" class="container"></section>
    {% endblock %}
    
    <!-- browser compatability check -->
    <script type="text/javascript">setTimeout(function(){if(typeof SimpleSeer==="undefined"){$("#browser_fail").show()}else{$("#app_load").hide()}if($("#browser_fail").is(":visible")==true){$("#lost_connection, #app_load").hide()}},1e4)</script>
    
    <!-- div where non-blocking pop-up messages are written.  Soon to be pushed in to modal logic, and removed. -->
    <div id="messages" class="span10 offset1"></div>
    
    {% block modal %}
    <div id="modal"></div>
    {% endblock %}
    <div id="lost_connection" title="Error"></div>
  </body>
</html>