<!doctype html>
  <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript">
      cacheHashes = {{params.MD5Hashes|tojson|safe}}
    </script>
    {% for key, value in params.MD5Hashes.items() %}
      {%if value.type == "js"%}
    <script type="text/javascript" src="{{key}}?v={{value.path}}"></script>
      {%elif value.type == "css" %}
    <link rel="stylesheet" href="{{key}}?v={{value.path}}">
      {% endif %}
    {% endfor %}  
    <script type="text/javascript" src="/plugins.js"></script>
    <style>
    {% block style %}
    {% endblock %}
    </style>
    <script type="text/javascript">require('initialize');</script>
    <title>{% block title %}Sight Machine{% endblock %}</title>
  </head>
  <body> 
    {% block header %}
  <header>
      <nav>
        <div class="left group">
          <a class="brand" href="#"></a>
          <div class="text"><div id="client-name"></div></div>
        </div>
  
        <div id="systemTray" class="right group">
          
        </div>
      </nav>
  </header>
    {% endblock %}

    {% block content %}
      <section id="everything">
        <section id="toolbar">
        {% block left_toolbar %}
        {% endblock %}
        </section>
      
        <section id="content">
          <div id="slides">
            <div id="main">
            </div>
          </div>
        </section>
      </section>
      
      <section id="controls">
        {% block bottom_toolbar %}
        {% endblock %}
      </section>
    {% endblock %}
    
    <!-- browser compatability check -->
    <script type="text/javascript">setTimeout(function(){if(typeof SimpleSeer==="undefined"){$("#browser_fail").show()}else{$("#app_load").hide()}if($("#browser_fail").is(":visible")==true){$("#lost_connection, #app_load").hide()}},1e4)</script>
    
    <!-- div where non-blocking pop-up messages are written.  Soon to be pushed in to modal logic, and removed. -->
    <div id="messages" class="span10 offset1"></div>
    
    {% block modal %}
    <div id="modal"></div>
    {% endblock %}
    <div id="lost_connection" title="Error"></div>
  </body>
</html>